// main: index.less

@f1: 'Lato', sans-serif;
@f2: 'Exo 2', sans-serif;

@c1: #444;
@c2: #e54040;
@c3: #ccc;
@c4: #dd4a68;
@c5: #eed900;

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-weight:100;
    .user-select();
}

html {
    .dim(100%);
    border-top:5px solid teal;
    position:relative;
}

body {
    margin-left:-350px;
    .dim(700px, auto);
    .pos(absolute, 0, @5: 50%);
}

ng-view {
    padding-bottom:60px;
    .dim(100%, auto);
    .pos(absolute, 285px, @5: 0);
}

ul, a {
    display:block;
}

a {
    text-decoration:none;
}

h1, h2, h3 {
    font-family: @f2;
}

h1, h2, ul {
    margin:1.5em 0;
}

h2:first-of-type {
    margin-top:0;
}

h1, h2 {
    margin-bottom:0;
}

h3 {
    margin-bottom:2.5em;
}

h1 {
    font-size:3.5em;
    sup {
        margin:-12px;
        color: @c2;
    }
}

h2 {
    margin-bottom:0.5em;
}

sup {
    line-height:0;
    font-size:0.35em;
}

ul,
ol {
    padding:0 3.5em;
}

ul {
    .dim(100%, auto);
    list-style:none;
    overflow:auto;
    li {
        width:20%;
        text-align:center;
        float:left;
    }
}

li {
    height:40px;
    line-height:40px;
    vertical-align:middle;
}

a,
ol li {
    font-family:@f1;
    color:@c1;
}

ol, span {
    margin-bottom:1em;
}

pre {
    margin:0.25em 0.25em 1.5em 0.25em;
}
