<!DOCTYPE html>
<html>
    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="keywords" content="Angie,JavaScript,REST,MVC,Framework,API" />
        <meta name="description" content="Angie Framework Test Page">
        <meta name="author" content="Joe Groseclose <@benderTheCrime>">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

        <title>Angie - Test Page</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="/images/angie.svg">

        <!-- Styles -->
        <link rel="stylesheet" type="text/css"
              href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <h1>Angie Test Page</h1>
        <div>
            Welcome to the Angie test page!
            <a href="https://github.com/benderTheCrime/angie" target="_blank">
                Visit Angie on GitHub
            </a>
            <a href="https://doc.esdoc.org/github.com/angie-framework/angie/"
               target="_blank">
               Read the Angie documentation
            </a>
        </div>
    </body>
</html>
